.pred-box {
  //background: #209F2E;
  width: 302px;
  height: 488px;
  border-radius: 8px;
  //border: 3px solid #209F2E;
}

.pred-box > img{
  border-radius: 8px;
}

.circle2 {
  width: 75px;
  height: 75px !important;
  border-radius: 55px;
  background: #0E94D7;
  position: relative;
  top: -30px;
border:5px solid white;
}

.btn{
  background: #085AA9;
  /* font-weight: bold; */
  color: white;
  //width: 161px;
  height: 53px;
  font-size: 17px;
}

.cont-1 {
  background: white;

  display: flex;
  justify-content: center;
  align-items: center;
  .box {
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .title {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      height: 50px;

      .block {
        width: 0%;
        height: inherit;
        background: #0E94D7;
        position: absolute;
        animation: mainBlock 1s cubic-bezier(.74, .06, .4, .92) forwards;
        display: flex;
      }

      h4 {
        font-family: 'Poppins';
        color: #0E94D7;
        font-size: 42px;
        -webkit-animation: mainFadeIn 1s forwards;
        -o-animation: mainFadeIn 1s forwards;
        animation: mainFadeIn 1s forwards;
        animation-delay: 0.6s;
        opacity: 0;
        display: flex;
        align-items: baseline;
        position: relative;

        mat-icon{
          color: #0E94D7;
          font-size: 42px;
          position: relative;
          top: 6px;
          left: -18px;

        }
        span {
          width:0px;
          height: 0px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;

          background: #0E94D7;
          -webkit-animation: load 0.6s cubic-bezier(.74, .06, .4, .92) forwards;
          animation: popIn 0.8s cubic-bezier(.74, .06, .4, .92) forwards;
          animation-delay: 1s;
          margin-left: 5px;
          margin-top: -10px;
          position: absolute;
          bottom: 13px;
          right: -12px;

        }
      }
    }

    .role {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      height: 30px;
      margin-top: -10px;

      .block {
        width: 0%;
        height: inherit;
        background: #e91e63;
        position: absolute;
        animation: secBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
        animation-delay: 2s;
        display: flex;
      }

      h1 {
        animation: secFadeIn 2s forwards;
        animation-delay: 3.2s;
        opacity: 0;
        font-weight: 400;
        font-family: 'Lato';
        color: #0E94D7;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 5px;
      }
    }
  }
}





@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;

  }
  50% {
    width: 100%;
    left: 0;

  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;

  }
  50% {
    width: 100%;
    left: 0;

  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #209F2E;
    border: 0px solid #209F2E;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #209F2E;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px
  }
  100% {
    width: 7px;
    height: 7px;
    background: #209F2E;
    border: 0px solid #222;
    bottom: 13px;

  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

