<div class="flex items-center w-full h-full">
    <div class="items-center flex h-full mr-1">
      <img src="https://i.ibb.co/MGFVcBq/CCPlog2.png" alt="core-Agro-Logo2" style="max-width: 56px;">
    </div>
    <div >
      <h4 style="color: #085AA9;font-size: 28px">CCP<span style="color: white"> App</span></h4>
    </div>
  </div>

  <!-- <a href="https://ibb.co/JyD7v3X"><img src="https://i.ibb.co/MGFVcBq/CCPlog2.png" alt="CCPlog2" border="0"></a>
<a href="https://ibb.co/hdR7Rfk"><img src="https://i.ibb.co/vdxwxYb/CCPlogo2.png" alt="CCPlogo2" border="0"></a> -->