<h3 class="text-center head1 mt-5 mb-4">Time base Prediction</h3>
<section class="text-center mt-3 mb-5">
  <form  [formGroup]="CRForm">
    <div class="d-flex justify-content-center">
      <div class="p-2" >
        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput formControlName="date" [matDatepicker]="picker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>      
      </div>
      <div class="ms-4">
        <!-- <mat-label>Choose A Time</mat-label>
        <div style="margin-left: 26px;">
          <ngx-mat-timepicker  formControlName="time"></ngx-mat-timepicker>
        </div> -->
        <material-timepicker color="primary" appearance="outline" format="24" [userTime]="exportTime"></material-timepicker>        
        
      </div>
    </div>
    <div class="text-center mt-4 mb-2">
      <button mat-raised-button class="submitbtn1" (click)="predictCrops()">Predict</button>
    </div>
  </form>
</section>