.head1{
  color: #0E94D7;
  font-family: "Gilroy ExtraBold";
}

.submitbtn1{
  background: #0E94D7;
  font-family: Quicksand;
  color: white;
  border-radius: 20px;
  font-size: 17px;
}

mat-form-field{
  width: 272px;
}

// .timepicker-overlay {
//   z-index: 10000000 !important;
// }

// .timepicker-backdrop-overlay {
//   z-index: 10000000 !important;
// }

.tim-picker{
  width: 50px;
}