#wrap {
    align-items: center;
    display: flex;
    cursor: pointer;
  }
  
  img {
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
  }
  
  #pic {
    display: flex;
    flex-direction: column;
  }
  
  div {
    margin-left: 5px;
  }
  
  h6 {
    font-size: 1rem;
  }
  
  
  .btn-login2 {
    background: white;
    color: #0E94D7;
    width: 40px;
    height: 40px;
  }
  
  .btn-login:hover {
    background: #0E94D7;
    color: white;
  }
  
  .btn-logins:hover {
    background: #0E94D7 !important;
  }
  
  ::ng-deep .mat-menu-item {
    padding: 0 0px !important;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
  }
  
  .material-symbols-outlined {
    align-items: center;
    justify-content: center;
    font-size: 48px;
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
    display: flex;
  }
  
  .mat-icon2 {
    height: 40px;
    width: 40px;
    font-size: 35px;
  }
  
  
  :host .mat-menu-panel {
    min-width: 112px;
    max-width: 780px !important;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    max-height: calc(100vh - 48px);
    border-radius: 4px;
    outline: 0;
    min-height: 64px;
    position: relative;
  }
  :host .mat-menu-item {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    line-height: 48px;
    height: 48px;
    padding: 0px 0px !important;
    text-align: left;
    text-decoration: none;
    max-width: 100%;
    position: relative;
  }
  
  :host .mat-menu-item .mat-icon {
  margin-right: 0px !important;
    vertical-align: middle;
  }
  