<!--<form class="d-flex ms-3" >-->
<!--  -->
<!--</form>-->


<form class="d-flex ms-3" >
    <div id="wrap-3" [matMenuTriggerFor]="menu2"   >
      <div class="example-button-container d-flex flex-row">
        <button class="btn-login2 d-flex justify-content-center align-items-center flex-column" matBadge="2" matBadgePosition="below after" mat-fab color="Basic"  type="button">
          <mat-icon class="material-symbols-outlined mat-icon2">notifications</mat-icon>
        </button>
      </div>
    </div>
    <mat-menu #menu2="matMenu" >
      <!-- <div mat-menu-item class="btn-logins"  >
        <div class="d-flex flex-row" style="background: #FEF3E4;" >
          <div class="p-2">
            <mat-icon style="color: #0E94D7" class="material-symbols-outlined mat-icon2">adjust</mat-icon>
          </div>
          <div class="p-2">
            <p>Crop Tomato Needs Watering Today</p>
          </div>
        </div>
      </div>
      <div mat-menu-item class="btn-logins"  >
        <div class="d-flex flex-row" style="background: #E8F8F9;">
          <div class="p-2">
            <mat-icon style="color: #0E94D7" class="material-symbols-outlined mat-icon2">adjust</mat-icon>
          </div>
          <div class="p-2">
            <p>Crop Potatoe Need Fertilizer today</p>
          </div>
        </div>
      </div> -->
    </mat-menu>
  
  
    <div id="wrap-2" [matMenuTriggerFor]="menu" >
      <div class="example-button-container d-flex flex-row">
        <button class="btn-login2 d-flex justify-content-center align-items-center flex-column" mat-fab color="Basic"  type="button">
          <mat-icon class="material-symbols-outlined mat-icon2">account_circle</mat-icon>
        </button>&nbsp;
        <h6 class="flex-column mt-2" style="font-weight: bold; color: white;">Sandali Ramesha</h6>
      </div>
    </div>
    <mat-menu #menu="matMenu" >
          <!-- <div mat-menu-item class="btn-login" >
            <button  mat-icon-button aria-label="profile" [routerLink]="'./profile'" routerLinkActive="buttonActive" style="margin-left: -15px; width: 150px">
              <mat-icon style="margin-right: 15px">person</mat-icon>Profile
            </button>
          </div>
      <div mat-menu-item class="btn-login">
        <button  mat-icon-button aria-label="Logout" (click)="logout()" routerLinkActive="buttonActive" style="margin-left: -15px; width: 150px">
          <mat-icon style="margin-right: 15px">logout</mat-icon>Logout
        </button>
      </div> -->
    </mat-menu>
  </form>