<section class="p-2 text-center mt-5">
    <h1 class="crop-title"><span style="color: tomato;">Prediction results</span></h1>
    <h2 class="crop-title mt-3 mb-3">Customer Id : <span style="color: tomato;">{{customer_id}}</span></h2>
    <h2 class="crop-title">Prdicted Next Product</h2>
    <h4 class="crop-title mt-3 mb-3"><span style="color: tomato;">{{predicted_next_product}}</span></h4>
    <h2 class="crop-title mb-3">Prdicted Purchase Amount</h2>
    <h4 class="crop-title mb-5"><span style="color: tomato;">{{predicted_purchases}}</span></h4>
  </section>